@model clientuser
@{
    ViewData["Title"] = "NewRegisterClient";
    Layout = "~/Views/Shared/_LayLogin.cshtml";
}

<h1>Account succesfully created!</h1>
bbggbbggbb
<input id="Button1" type="button" value="button" />
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Apply the register account</a>